Flask==2.2.5
gunicorn==21.2.0
numpy==1.23.5
pandas==1.5.3
scipy==1.10.1
scikit-learn==1.2.2
xgboost==1.7.6
shap==0.41.0
joblib==1.2.0
reportlab==3.6.12
openpyxl==3.1.2
Flask-Mail==0.9.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0